<div class="container">
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>质量追溯</h1>
                <p>就是在生产过程中，每完成一个重要工序，都记录其装配信息、检验结果及存在问题，记录操作者姓名、时间、地点及情况分析，形成完整的生产加工档案，后续可查。</p>
                <p>随着信息化技术的发展，为现代制造企业实行精细化管理提供了可靠的手段。</p>
                <p>追溯系统，利用条码技术，对物料、半成品/产品等进行条码识别，工艺作业自动记录等信息化技术手段，来进行防错、监控、实时分析和追踪等，实现产品生产和质量追溯。</p>
                <p>在生产中可预防、发现和及时改正错误，事后也可以对产品进行追溯，清晰查询到产品的真伪、去向、存储、生产记录等信息，分析不良产品产生的原因。</p>
                <p>
                    <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
                </p>
            </div>
        </div>
    </main>
</div>